.warning {
    padding: 12px 12px 12px 40px;
    margin-left:-30px;
    margin-right:-30px;
    color:#fff;
    background-color: rgba(230, 120, 0, 0.6);
}
.numberedList {
    position: relative;
    padding-left:40px;
    margin-top:40px;
    margin-bottom:30px;
}
.numberedList::after {
    padding:4px;
    text-align: center;
    font-size:20px;
    color:#fff;
    position:absolute;
    top: 0px;
    left:0px;
    display: block;
    width:30px;
    height:30px;
    background-color:#1e9fcc;
    border-radius: 50%;
    z-index: 3;
}
.numberedListFirst::after {
    content: "1";
}
.numberedListSecond::after {
    content: "2";
}
.numberedListThird::after {
    content: "3";
}
.numberedListFourth::after {
    content: "4";
}
.numberedListFifth::after {
    content: "5";
}
