.warning {
  padding: 0px 0px 40px 0px;
  color: #000;
}
.numberedList {
  position: relative;
  padding-left: 35px;
}
.howtoHeaderH3 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}
.howtoHeaderH5 {
  margin-top: 50px;
  font-size: 1.4rem;
}
.numberedList::after {
  padding: 3px;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #61dafb;
  border-radius: 50%;
  z-index: 3;
}
.numberedListFirst::after {
  content: "1";
}
.numberedListSecond::after {
  content: "2";
}
.numberedListThird::after {
  content: "3";
}
.numberedListFourth::after {
  content: "4";
}
.numberedListFifth::after {
  content: "5";
}
.csBox {
  padding: 60px;
}
.howTo {
  margin-top: 100px;
}
.codeBox {
  padding: 3px 8px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #555;
  font-family: "Source Code Pro";
  background-color: #f4f5f7;
  overflow: auto;
  font-size: 0.9rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
