/* ReactCodeMirror overrides */
.ReactCodeMirror {
  border: 1px solid #efefef;
}
.CodeMirror {
  height: 100% !important;
}
.CodeMirror-linenumbers {
  background-color: #f4f5f7;
}
.cm-tag,
.cm-bracket {
  color: #4eadc7 !important;
}
.cm-attribute {
  color: #764abc !important;
}
.cm-string {
  color: #c72c84 !important;
}
.cm-error {
  color: #dd4a68 !important;
}
.cm-tag .cm-bracket .cm-error {
  color: #dd4a68 !important;
}
/* bootstrap overrides */
p {
  color: #555;
  margin-bottom: 0.5rem;
}
code {
  color: #555;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  background-color: #f4f5f7;
  padding: 3px 8px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  word-break: break-word;
}

/* cs Styles */
body {
  background-color: #fff;
}
.cs-header {
  background-color: #272c34;
  color: #fff;
}
.cs-header-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0px;
}
.cs-footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0px;
}
.cs-header__logo {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .cs-header__h1 {
    text-align: left !important;
  }
  .cs-header__h2 {
    text-align: left !important;
  }
  .cs-header__h4 {
    text-align: left !important;
  }
  .cs-header__star {
    text-align: left !important;
  }
}

.cs-header__h1 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: #61dafb;
  text-align: center;
}
.cs-header__h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-weight: 300;
  text-align: center;
}
.cs-header__h4 {
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}
.cs-header__star {
  margin-top: 25px;
  text-align: center;
}
.cs-header__starlink {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}
.cs-header__starlink:hover {
  color: #272c34;
  text-decoration: none;
  background-color: #61dafb;
  border: 1px solid #61dafb;
}
.cs-body {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
}
.cs-bodyHowTo {
  padding: 0px 0px 100px 0px;
  background: linear-gradient(#f8f8f8, #fff);
  max-width: 1400px;
  margin: 0 auto;
}
.cs-footer {
  background-color: #272c34;
  color: #fff;
}
.cs-footer a {
  color: #fff;
}
.cs-footer a:hover {
  color: #efefef;
  text-decoration: underline;
}
.cs-footer__privacy {
  padding: 5px 30px 0px 30px;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  display: inline-block;
}
